
body{
    background-image: url('pictures/wallpaper.jpg');
    background-size: cover; /* cobrir todo o fundo */
    background-position: center;/*centraliza o fundo*/
    overflow: hidden; /*esconde overflows*/
    height: 100vh;
    font-family: sans-serif;
    background-repeat:no-repeat; /*nao repetir a imagem fundo*/
    box-sizing: border-box; /*fixa o tamanho*/
}

textarea{
    display:block;
    margin-bottom:10px;
}

.topbar{
    height:45px;
    width:100%;
    font-size: 25px;
    display: flex; 
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    color: rgb(250, 250, 250);
    padding: 5px 16px;
    box-sizing: border-box;
}

#clock{
    color:white;
    font-size: 25px;
}
.icone-geral{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    position: absolute;
}

.icone-img{
 border-radius: 20px;
 -webkit-user-drag:none;
 pointer-events: none;
 user-select: none;
 flex-shrink: 0; 
 display: block;
 height: 70px !important;
width: 70px !important;
}



.icone-text{
 font-size: 20px;
 font-weight: bold;
 color: rgb(250, 250, 250);
}


.window-title{
 font-size:25px;
 height:40px;
 width:100%;
 background-color: rgba(66, 176, 188, 0.6);
 text-align: center;
 color: rgb(250, 250, 250);
 align-items: center;
 cursor: move;
}

.window-body{
background-color:rgba(83, 191, 206, 0.6);
height:auto;
min-height:100px;
width:100%;
font-size:15px;
padding:8px 10px;
color:rgb(250, 250, 250);
box-sizing: border-box;
align-items: center;
cursor: move;
}

.window-geral{
position: absolute;
height: auto;
width: 250px;
z-index:10;
border-radius: 20px;
overflow: hidden;
left: 50px;
top: 50px;
backdrop-filter:blur(8px);
}

#notes{
    user-select: none;
    top:180px;
    left:20px;
    z-index: 10;
}

#weather{
user-select: none;
left:20px;
top:75px;
z-index:10;
}


#window-wth{
    display:none;
}

#window-nts{
    display:none;
}

.close-button{
position: absolute;
top:10px;
right:5px;
z-index: 11;
border-radius: 50%;
width: 12px;     
height: 12px;
border:none;   
}

.enter-button{
position: absolute;
z-index: 11;
border-radius: 15px;
border:none;
}

.textInput{
position: absolute;
field-sizing: content; 
width: 220px;
max-width: 220px;
height:auto;
border-radius: 15px;
border:none;
resize:none;
}

#city-name{
font-size:15px;
}

#city-weather{
font-size:15px;
}






