body{
    background-image: url('pictures/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    width:100%;
    font-family: sans-serif;
    background-repeat:no-repeat;
    box-sizing: border-box
}

.topbar{
    height:45px;
    width:100%;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    color: rgb(250, 250, 250);
    padding: 5px;
    box-sizing: border-box;
}

#clock{
    color:white;
    font-size: 25px;
    height: auto;
    width:40px;
}

.icone-geral{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.icone-img{
 border-radius: 20px;
 -webkit-user-drag:none;
 pointer-events: none;
 user-select: none;
 flex-shrink: 0; 
 display: block;
 height: 70px !important;
width: 70px !important;
}



.icone-text{
 font-size: 10px;
 font-weight: bold;
 color: rgb(250, 250, 250);
}


.window-title{
 font-size:15px;
 height:25px;
 width:80px;
 background-color: rgb(66, 176, 188);
 text-align: center;
 color: rgb(250, 250, 250);
 z-index:10;
}

.window-body{
background-color:rgb(83, 191, 206);
height:auto;
width:80px;
font-size:15px;
padding:8px 10px;
color:rgb(250, 250, 250);
position:absolute;
z-index:10;
}

#window-nts{
    display:none;
}
.close-button{
position: absolute;
top:5px;
right:5px;
}

#weather{
    position:absolute;
    cursor: move;
    user-select: none;
    left:10px;
    top:60px;
    z-index:0;
}

.window-geral{
position: relative;
height: auto;
width: 300px;
z-index:10;
}

#notes{
    position: absolute;
    cursor:move;
    user-select: none;
    top:125px;
    left:10px;
}

